.header
{
	width: 100%;
	height: 3%;
	display: flex;
	justify-content: space-between;
}
.header li
{
	display: flex;
	margin-right: 14px;
}
.navbar
{
	display: flex;
}
.con
{
	width: 100%;
	height: 75%;
	background-image: url(img.png);
	background-repeat: no-repeat;
}
.con h1
{
	font-family: Calibri light;
	text-transform: uppercase; 
	font-size: 50px;
	padding-left: 50px;
	padding-top: 200px;
	color: #2d4f61
}
.about h1, h3
{
	margin-left: 80px;
	text-align: left;
}
.clickhere
{
	margin-left: 50px;
	background-color: black;
	color: white;
	font-size: 20px;
	padding: 5px 40px 5px 40px;
	border-radius: 20px;
}
#right
{
	float: right;
	margin-right: 80px;
}
.com
{
	display: block;
	background-color: #efffff;
	padding-bottom: 20px;
	height: 58%;
	width: 100%;
}
.com h1
{
	text-align: center;
}
.ser
{
	background-color: #efffff;
	margin-left: 30px;
	text-align: center;
	display: block;
	float: left;
	padding: 5px;
}
#img
{
	border-radius: 20px;
}
.gallery
{
	text-align: center;
}
.gal
{
	margin-left: 20px; 
	margin-right: 20px;
}
#padding
{
	padding-right: 10px; 
	padding-left: 10px;
	padding-bottom: 9px;
	border-radius: 20px;
}
.contact h1
{
	text-align: center;
}
.footer{
	height:300px;
	width:100%;
	background-color: #0f4e81;
	color:#ffffff;
}
.footer pre{
	font-size:16px;
	font-style:normal;
	margin-left:20%;
}
.f1{
	margin-left:10%;
	float:left;
	width:30%;
	padding-top: 60px;
}
.f2{
	float:right;
	margin-right:25%;
	width:30%;
	padding-top: 80px;
}
.f2 a{
	color:#ffffff;
	text-decoration: none;
	margin-left: 20%;
}